doctype html
html
	head
		title 豆瓣相册抓取工具
		link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/main.css")
		script(src="/js/jquery.js")
		script(src="/js/mustache.js")
		script(src="/js/unparam.js")
		script(src="/js/validate.js")
		script(src="/js/main.js")
	body
		block body			
