body {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
}
a,a:hover {
	text-decoration: none;
}
#content {
	width: 990px;
	margin: 15px auto;
}
#content .table-list {
	border-bottom: 1px solid #ddd;
}
.operation a {
	padding: 0 10px;
}
td label.error {
	color: red;
	display: block;
}
